# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [53]:
import pandas as pd
import numpy as np
import os

data = pd.read_csv(os.path.join('..', 'data', 'ozone.csv'))

In [4]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [5]:
print data.columns.values

['Ozone' 'Solar.R' 'Wind' 'Temp' 'Month' 'Day']

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [6]:
first_2_rows = data.head(2)
print first_2_rows

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [7]:
print data.shape

(153, 6)

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [8]:
last_2_rows= data.tail(2)
print last_2_rows

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [9]:
data.loc[47,['Ozone']]

Ozone    37.0
Name: 47, dtype: float64

How many missing values are in the Ozone column of this data frame?

In [10]:
col_ozone= data.Ozone
col_ozone.isnull().sum().sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [18]:
col_ozone.mean()  #pandas excludes NA by default

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [76]:
new_ozone = data[data.Ozone>31]  #extract rows where ozone> 31
new_temp = new_ozone[new_ozone.Temp>90]     #extract rows where Ozone >31 & Temp> 90
print new_temp
##Printing mmean of Solar R
data2 = new_temp.copy()
data2.columns = ['Ozone','Solar','Wind','Temp','Month' ,'Day']
solar2 = data2.Solar
print "The Mean of Solar.R in the subset where Ozone >31 & Temp >90: " + str(solar2.mean())

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
The Mean of Solar.R in the subset where Ozone >31 & Temp >90: 212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [90]:
new_june = data[data.Month == 6]
june_temp = new_june.Temp
print june_temp.mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [91]:
new_may = data[data.Month == 5]
maxmay = new_may.Temp
print maxmay.max()

81

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas